@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
  margin: auto;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
}

h1 {
  weight: 600px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  font-family: 'IBM Plex Serif', serif;  
}
