@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
  margin: auto;
  font-family: 'IBM Plex Serif', serif;
}

p {
  font-family: 'IBM Plex Serif', serif;  
}
